# Task 1

In [2]:
# Install pandas if not already available
!pip install pandas

Collecting pandas
  Downloading pandas-2.3.3-cp313-cp313-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (91 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.4.1-cp313-cp313-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (6.6 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.3-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp313-cp313-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (12.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.3/12.3 MB 8.5 MB/s  0:00:01m0:00:0100:01m
Downloading numpy-2.4.1-cp313-cp313-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (16.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.4/16.4 MB 5.0 MB/s  0:00:03m0:00:0100:01
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.3-py2.py3-none-any.whl (348 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4/4 [pandas]2m3/4 [pandas]
Successfully installed numpy-2.4.1 pandas-2.3.3 pytz-2025.2 tzdata-2025.3

In [1]:
# Import Required Libraries
import pandas as pd

In [2]:
# Load the data
df = pd.read_csv('ref-data.csv')

In [6]:
# Display the first few lines of the data
print(df.head())

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [8]:
# Display summary statistics of numerical values (Age and Salary)
print("\nSummary Statistics for Numerical Columns:")
print(df[['Age', 'Salary']].describe())

Summary Statistics for Numerical Columns:
             Age        Salary
count   9.000000      9.000000
mean   38.777778  63777.777778
std     7.693793  12265.579662
min    27.000000  48000.000000
25%    35.000000  54000.000000
50%    38.000000  61000.000000
75%    44.000000  72000.000000
max    50.000000  83000.000000

In [9]:
# Check for missing values - returns True for NaN, False otherwise
print("\nMissing Values Check (True = Missing, False = Present):")
print(df.isnull())

Missing Values Check (True = Missing, False = Present):
   Country    Age  Salary  Purchased
0    False  False   False      False
1    False  False   False      False
2    False  False   False      False
3    False  False   False      False
4    False  False    True      False
5    False  False   False      False
6    False   True   False      False
7    False  False   False       True
8    False  False   False      False
9     True  False   False      False

In [10]:
print("\nCount of missing values per column:")
print(df.isnull().sum())

Count of missing values per column:
Country      1
Age          1
Salary       1
Purchased    1
dtype: int64

# Task 2

In [11]:
# Drop rows where any column has NaN values
df_drop = df.dropna()
print("Data Frame after dropping rows with missing values:")
print(df_drop)

Data Frame after dropping rows with missing values:
   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
5   France  35.0  58000.0       Yes
8  Germany  50.0  83000.0        No

In [13]:
# Fill missing values with default values
df_fill = df.copy()
# Fill numerical columns with 0
df_fill['Age'] = df_fill['Age'].fillna(0)
df_fill['Salary'] = df_fill['Salary'].fillna(0)
# Fill categorical columns with 'Unknown'
df_fill['Country'] = df_fill['Country'].fillna('Unknown')
df_fill['Purchased'] = df_fill['Purchased'].fillna('Unknown')
print("Data Frame after filling missing values:")
print(df_fill)

Data Frame after filling missing values:
   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      0.0       Yes
5   France  35.0  58000.0       Yes
6    Spain   0.0  52000.0        No
7   France  48.0  79000.0   Unknown
8  Germany  50.0  83000.0        No
9  Unknown  37.0  67000.0       Yes

In [14]:
# Check for missing values in df_filled (True = missing, False = present)
print("Missing Values in df_filled (True = Missing):")
print(df_fill.isnull())

print("\nCount of missing values per column after filling:")
print(df_fill.isnull().sum())

Missing Values in df_fill (True = Missing):
   Country    Age  Salary  Purchased
0    False  False   False      False
1    False  False   False      False
2    False  False   False      False
3    False  False   False      False
4    False  False   False      False
5    False  False   False      False
6    False  False   False      False
7    False  False   False      False
8    False  False   False      False
9    False  False   False      False

Count of missing values per column after filling:
Country      0
Age          0
Salary       0
Purchased    0
dtype: int64

In [15]:
# Fill missing Age values with the mean of the Age column (in-place)
df['Age'] = df['Age'].fillna(df['Age'].mean())
print("Data Frame after filling Age with mean:")
print(df)

Data Frame after filling Age with mean:
   Country        Age   Salary Purchased
0   France  44.000000  72000.0        No
1    Spain  27.000000  48000.0       Yes
2  Germany  30.000000  54000.0        No
3    Spain  38.000000  61000.0        No
4  Germany  40.000000      NaN       Yes
5   France  35.000000  58000.0       Yes
6    Spain  38.777778  52000.0        No
7   France  48.000000  79000.0       NaN
8  Germany  50.000000  83000.0        No
9      NaN  37.000000  67000.0       Yes

In [17]:
# Fill missing Salary values with the median of the Salary column
df['Salary'] = df['Salary'].fillna(df['Salary'].median())
print("Data Frame after filling Salary with median:")
print(df)

Data Frame after filling Salary with median:
   Country        Age   Salary Purchased
0   France  44.000000  72000.0        No
1    Spain  27.000000  48000.0       Yes
2  Germany  30.000000  54000.0        No
3    Spain  38.000000  61000.0        No
4  Germany  40.000000  61000.0       Yes
5   France  35.000000  58000.0       Yes
6    Spain  38.777778  52000.0        No
7   France  48.000000  79000.0       NaN
8  Germany  50.000000  83000.0        No
9      NaN  37.000000  67000.0       Yes

In [26]:
# Fill missing Purchased values with the mode (most frequent value) of the column
df['Purchased'] = df['Purchased'].fillna(df['Purchased'].mode()[0])
print("Data Frame after filling Purchased with mode:")
print(df)

Data Frame after filling Purchased with mode:
   Country        Age   Salary Purchased
0   France  44.000000  72000.0        No
1    Spain  27.000000  48000.0       Yes
2  Germany  30.000000  54000.0        No
3    Spain  38.000000  61000.0        No
4  Germany  40.000000  61000.0       Yes
5   France  35.000000  58000.0       Yes
6    Spain  38.777778  52000.0        No
7   France  48.000000  79000.0        No
8  Germany  50.000000  83000.0        No
9      NaN  37.000000  67000.0       Yes

In [27]:
# Apply forward fill to the Country column only
df['Country'] = df['Country'].ffill()
print("Data Frame after applying forward fill to Country:")
print(df)

Data Frame after applying forward fill to Country:
   Country        Age   Salary Purchased
0   France  44.000000  72000.0        No
1    Spain  27.000000  48000.0       Yes
2  Germany  30.000000  54000.0        No
3    Spain  38.000000  61000.0        No
4  Germany  40.000000  61000.0       Yes
5   France  35.000000  58000.0       Yes
6    Spain  38.777778  52000.0        No
7   France  48.000000  79000.0        No
8  Germany  50.000000  83000.0        No
9  Germany  37.000000  67000.0       Yes